.switch {
  font-size: 17px;
  position: relative;
  display: inline-block;
  width: 2em;
  height: 1em;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  box-sizing: border-box;
  border: 2px solid #000;
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #888;
  transition: 0.15s;
  border-radius: 1em;
}

.slider:before {
  box-sizing: border-box;
  position: absolute;
  content: "";
  height: 1em;
  width: 1em;
  border: 2px solid #000;
  border-radius: 100%;
  left: -2px;
  bottom: -2px;
  background-color: #e8e8e8;
  transform: translateY(-0.2em);
  box-shadow: 0 0.2em 0 #000;
  transition: 0.15s;
}

input:checked + .slider {
  background-color: #e8e8e8;
}

input:focus-visible + .slider {
  box-shadow: 0 0 0 2px #888;
}

input:hover + .slider:before {
  transform: translateY(-0.3em);
  box-shadow: 0 0.3em 0 #000;
}

input:checked + .slider:before {
  transform: translateX(calc(2em - 1em)) translateY(-0.2em);
}

input:hover:checked + .slider:before {
  transform: translateX(calc(2em - 1em)) translateY(-0.3em);
  box-shadow: 0 0.3em 0 #000;
}
